body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#email-list {
  display: flex;
  flex-direction: column;
  border: 5px solid red;
}
#email-list a {text-decoration: none; color: black}
#email-list a:hover { text-decoration: none; color: black; }
#email-list a:focus { text-decoration: none; color: black; }
#email-list a:active { text-decoration: none; color: black; }

#email-list-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

#email-list-row div{
  margin: 10px
}
/*
#email-list-row:nth-child(odd) {
  background-color: lightgrey;
}
*/

#compose-email {
  padding: 15px;
  margin: 10px;
}